:root {
    --black:#2E2E2F;
    --grey:#A0A0A0;
    --white:#F7F7F6;
    --text:#474b2f;
    --hover:#A1A490;
    --background:#F4F4F1;
}

.navbar_container{
    position:fixed;
    width:100%;
    background-color:var(--white);
    z-index:999;
}
.navbar_container .navbar_content{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    background-color:white;
    margin:0rem 18rem;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.navbar_container .navbar_content .navbar_items{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    padding:0.8rem 1rem;
}
.navbar_container .navbar_content .navbar_items h1{
    color:var(--text);
    font-size:16px;
    letter-spacing:-0.4px;
    font-family:"Bold";
    cursor:pointer;
}
.navbar_container .navbar_content .navbar_items ul{
    list-style:none;
}
.navbar_container .navbar_content .navbar_items ul li{
    display:inline-block;
    padding:0rem 0.5rem;
}
.navbar_container .navbar_content .navbar_items ul li a{
    text-decoration:none;
    font-family:"Medium";
    font-size:14px;
    color:var(--text);
    transition:all 0.3s ease-out;
}
.navbar_container .navbar_content .navbar_items ul li a span{
    font-family:"Regular";
}
.navbar_container .navbar_content .navbar_items ul li a:hover{
    transition:all 0.3s ease-out;
    opacity:0.9;
    color:var(--hover);
}
.navbar_container .navbar_content .navbar_items .btns{
    display:flex;
    flex-direction:row;
    align-items:center;
    column-gap:15px;
    
}
.navbar_container .navbar_content .navbar_items .btns .search,
.navbar_container .navbar_content .navbar_items .btns .login{
    border:none;
    outline:none;
    background-color:transparent;
    color:var(--text);
    font-size:14px;
    font-family:"Medium";
    text-decoration:none;
    transition:all 0.1s ease-in;
    letter-spacing:-.2px;
    cursor:pointer;
}
.navbar_container .navbar_content .navbar_items .btns .icon{
    position:relative;
    top:2.8px;
}
.navbar_container .navbar_content .navbar_items .btns .search:hover,
.navbar_container .navbar_content .navbar_items .btns .login:hover{
    transition:all 0.3s ease-out;
    color:var(--hover);
}
.navbar_container .navbar_content .navbar_items .menu {
   display:none;
} 
.navbar_container .navbar_content .navbar_items .menu button{
    background-color:transparent;
    border:none;
    outline:0;
    cursor:pointer;
}


/* border */
.navbar_container .border{
    display:block;
    background-color:var(--background);
    width:100%;
    height:1.8px;
}

/* responsiveness */
@media (max-width: 1400px){
    .navbar_container .navbar_content{
        margin:0rem 10rem;
    }
}
@media (max-width: 1120px){
    .navbar_container .navbar_content{
        margin:0rem 2rem;
    }
}
@media (max-width: 1000px){
    .navbar_container .navbar_content{
        margin:0rem 0rem;
        border-radius:0px;
    }
    
    .navbar_container .navbar_content .navbar_items .hide{
        list-style:none;
        display:none;
    }
    .navbar_container .navbar_content .navbar_items .menu{
        display:block;
        cursor:pointer;
        transition: all 0.3s ease-in;
        transform:rotate(0deg);
    }
    .navbar_container .navbar_content .navbar_items .menu:hover{
        transform:scale(1.1);
        transition: all 0.3s ease-in;
        transform:rotate(360deg);
    }
}