*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
:root {
  --black:#2E2E2F;
  --white:#F7F7F6;
}
html{
  scroll-behavior: smooth
}
.App{
  padding:0px;
  margin:0px;
}
.loader{
  width:100vw;
  height:100vh;
  background-color:var(--black);
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}
.loader h1{
  font-size:40px;
  letter-spacing:10px;
  font-family:"Bold";
  color:white;
  text-align:center;
}